<!--  Replace menu links here -->

<li class="nav-item">
<a class="nav-link" href="{{ 'index.html' | relative_url }}">Inicio</a>
</li>
<li class="nav-item">
<a target="_blank" class="nav-link" href="https://maps.app.goo.gl/CkgpQ8d8nREj5PKx5?g_st=iw">Chon's Food Guide</a>
</li>
<li class="nav-item">
<a target="_blank" class="nav-link" href="https://twitter.com/@JoacoOGorman">Ver en X</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{ 'contact.html' | relative_url }}">Contacto</a>
</li>
